@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Books sample application</h1>
    <p></a>Welcome to the ultimate source for adequate books.</p>
    <p></a>Created By Faisal Al.</p>
</div>
